VS20-1919/gsusa-troop-api-s/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="loadTroopFlow" doc:id="653f220d-af3a-4fee-9254-72d6a9e3f803" >
		<try doc:name="Try" doc:id="8d85b2c7-5a99-4382-b1f1-d66924ced67d" >
			<foreach doc:name="For Each" doc:id="f7098b05-54e0-4ed4-8be9-23ecf954d0b4" collection="#[payload]" batchSize="${batch.size}">
				<ee:transform doc:name="Transform Message" doc:id="b0576c30-e736-4c3d-a83a-a7ab5be323e6" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="5a618ee6-686f-48a4-ab38-095de30b624c" message="#[payload]"/>
				<http:request method="POST" doc:name="Create Troop Request" doc:id="cd8bcfd4-7af0-4bcf-9fca-f3d61d83a04d" path="${solr.create}" config-ref="HTTP_Request_configuration" />
			</foreach>
			
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="ba76829f-2a58-462d-b445-89d3c0e4291a" type="ANY">
					<logger level="INFO" doc:name="Logger" doc:id="6b9926a6-a551-4e80-ba3b-d79ab639c167" message="Exception occurred while POST request | Processor level"/>
					<ee:transform doc:name="Transform Message" doc:id="bc37313c-cc5b-4d6d-b157-7e84c0780556" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	Namespace:error.errorType.namespace,
    Identifier:error.errorType.identifier, 
   	ErrorMessage:error.cause.message,
   	Description:error.cause.errorMessage.payload,
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</on-error-propagate>
			</error-handler>
		</try>
		<ee:transform doc:name="Transform Message" doc:id="68466fc9-e80d-4fd6-a70d-9278f3be3459" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  status: "Successfully created/updated Troop in SOLR"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="fa0589b7-1ea8-4e83-83e2-10419b60e7ef" type="ANY">
				<logger level="INFO" doc:name="Logger" doc:id="59b3ccbd-b499-434d-97d6-fb37ba0d7f98" message="Exception occurred while POST request | Flow level"/>
				<ee:transform doc:name="Transform Message" doc:id="c797686f-9935-421c-a26a-6c6a6bebeb24" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	Namespace:error.errorType.namespace,
    Identifier:error.errorType.identifier, 
   	ErrorMessage:error.cause.message,
   	Description:error.cause.errorMessage.payload,
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>