DUMMY/accountapi/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="a97e1e07-fa8c-4741-9919-b07b97c639b8" >
		<db:my-sql-connection host="mudb.mulesoft-training.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<flow name="getAllAccounts" doc:id="590b5601-3343-4f17-b7d1-0af4a9b48208" >
		<db:select doc:name="Database" doc:id="498ecce2-58c6-4f01-833d-f15d75e0e342" config-ref="Database_Config">
			<db:sql >SELECT * FROM flights_customers WHERE accountType = :type</db:sql>
			<db:input-parameters ><![CDATA[#[{"type": attributes.queryParams['type']}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="b801e84d-5b4d-4eb0-a039-058f646e742d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( (payload01 , indexOfPayload01) -> {
	id: payload01.accountID,
	firstName: (payload01.name splitBy ' ')[0],
	lastName: (payload01.name splitBy ' ')[1],
	address: payload01.street ++ " " ++ payload01.city ++ ", " ++ payload01.state,
	postal: payload01.postal,
	country: payload01.country,
	creationDate: (payload01.creationDate as String) ++ "+0:00",
	accountType: payload01.accountType,
	miles: payload01.miles
})]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getSingleAccount" doc:id="97d10fac-1ed8-4fed-933f-3de5687c0b3e" >
		<db:select doc:name="Database" doc:id="a5247877-cc97-4a6a-996f-64e037c8c2c1" config-ref="Database_Config">
			<db:sql >SELECT * FROM flights_customers WHERE accountID = :id</db:sql>
			<db:input-parameters ><![CDATA[#[{ id: attributes.uriParams.id }]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="9917dd18-24ae-466e-a83b-30383c9ed123" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
(payload map ( (payload01 , indexOfPayload01) -> {
	id: payload01.accountID,
	firstName: (payload01.name splitBy ' ')[0],
	lastName: (payload01.name splitBy ' ')[1],
	address: payload01.street ++ " " ++ payload01.city ++ ", " ++ payload01.state,
	postal: payload01.postal,
	country: payload01.country,
	creationDate: (payload01.creationDate as String) ++ "+0:00",
	accountType: payload01.accountType,
	miles: payload01.miles
}))[0]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
