gsusa-troop-api-s/Code/gsusa-troop-api-s/src/main/mule/createCase.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule  xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq"
	xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd">
	
	<flow name="createCaseFlow" doc:id="bd89314e-f48e-44a5-8974-2b2188cca6d5" >
		<anypoint-mq:subscriber doc:name="Subscriber" doc:id="ce8b8723-4502-4d5c-a355-11da3927b43b" config-ref="Anypoint_MQ_Default_subscriber" destination="${anypoint.case.in.queue}"/>
		<ee:transform doc:name="Setting Variables" doc:id="bbee8e4d-fc4c-438c-b559-91631b09d2a6">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="DataPayload"><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
				<ee:set-variable variableName="mqMessage" ><![CDATA[message]]></ee:set-variable>
			
</ee:variables>
		</ee:transform>
		<os:retrieve doc:name="Retrieve Token" doc:id="6216bcd5-d0bf-413f-927b-b5b8bc7cb79a" key="caseAccessToken" target="SFDCAccessToken" objectStore="Case_Auth_Token_Object_store">
			<os:default-value ><![CDATA[#['DUMMY']]]></os:default-value>
		</os:retrieve>
		<os:retrieve doc:name="Retrieve URL" doc:id="08e0a9ba-7987-451d-87aa-e5ae6b9b4939" key="caseApiUrl" target="SFDCOrderAPIUrl" objectStore="Case_Auth_Token_Object_store">
			<os:default-value ><![CDATA[#['DUMMY']]]></os:default-value>
		</os:retrieve>
				<choice doc:name="Is Token present in Object Store?" doc:id="a6543ea8-f048-4ed6-a2e9-2c63063869e0" >
			<when expression="#[vars.SFDCAccessToken != 'DUMMY']">
				<logger level="INFO" doc:name="Token Status" doc:id="6b7d0562-8f61-4324-ba28-2997a7582bd8" message="Token is already present in the Object Store"/>
			
</when>
			<otherwise >
				<flow-ref doc:name="Call Get Token Flow" doc:id="ad4d4d25-6d09-469d-ab6c-3e65c8704650" name="getSFDCauthaccesstokenFlow" />
				<os:store doc:name="Store Token" doc:id="fbfca9a9-dfb4-4c12-ae86-d9fafc89d03f" key="caseAccessToken" objectStore="Case_Auth_Token_Object_store">
					<os:value ><![CDATA[#[vars.SFDCAccessToken]]]></os:value>
				</os:store>
				<os:store doc:name="Store URL" doc:id="72c0d290-b1da-48c6-a848-03d7a4bbbc36" key="caseApiUrl" objectStore="Case_Auth_Token_Object_store">
					<os:value ><![CDATA[#[vars.SFDCOrderAPIUrl]]]></os:value>
				</os:store>
				<logger level="INFO" doc:name="Token Status" doc:id="59a15b8f-9fe8-4199-887e-aad783d15b5a" message="Token has been stored in Object Store"/>
			
</otherwise>
		</choice>
		<flow-ref doc:name="callCaseAPIFlow" doc:id="e3b85ffc-1020-4f67-95fc-be596521c12d" name="callCaseAPIFlow" />
		<choice doc:name="Choice" doc:id="c52b2251-ebf0-4500-8dbc-f76bf11f9507" >
			<when expression="#[payload[0].ErrorMessage != null]">
				<ee:transform doc:name="Error Information" doc:id="a153a180-4a1c-4cea-bb29-f5fa8b608712">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{	
	"InterfaceCode":"UIToSFDCCreateCase",
	"InstanceID": "PostCase",
	"CreationDate": now(),
	"ErrorCode": error.errorType.identifier, 
	"ErrorMessage": payload, 
	"Payload" : vars.DataPayload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<logger level="INFO" doc:name="Error Payload" doc:id="6ede0b64-00ad-4b87-ba1a-d894cc082c54" message="#[payload]" />
				<anypoint-mq:ack doc:name="Ack" doc:id="8a33db33-c179-4461-b834-209f73672ef2" config-ref="Anypoint_MQ_Default_subscriber" messageContext="#[vars.mqMessage.attributes]"/>
				<flow-ref doc:name="publishCaseToErrorQueueFlow" doc:id="0832c024-5a45-467c-8b3a-09436c216164" name="publishCaseToErrorQueueFlow"/>
			</when>
			<otherwise >
				<ee:transform doc:name="Final Result" doc:id="3e20270b-475a-4a03-9014-34eeb331779c" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Success Msg" doc:id="d1abb0e6-ae98-4851-a690-be998a0f43e4" message="Successfully Passed through case create Process" />
				<anypoint-mq:ack doc:name="Ack" doc:id="5bff7049-6ad6-4fcb-bc15-4320c1a17187" config-ref="Anypoint_MQ_Default_subscriber" messageContext="#[vars.mqMessage.attributes]" />
				<logger level="INFO" doc:name="Success Payload" doc:id="63dc6aeb-6bef-4bd5-a4cb-01bd37e57ab4" message="#[payload]"/>
			</otherwise>
		</choice>
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="13d0cb7c-445d-49bc-9807-c1f99b1f8988" type="ANY">
				<ee:transform doc:name="Transform Message" doc:id="d5e271fe-d8bf-49f5-8f3f-86fc57afa065">
					<ee:message>
						<ee:set-payload><![CDATA[ %dw 2.0
output application/json
---
{
    "interfaceCode":"UIToSFDCCreateCase",
    "creationDate":(now() as String {format: "dd/MMM/yyyy HH:mm:ss"}),
    "errorDescription": error.description,  
    "errorType": (error.errorType.namespace default ' ') ++ ":" ++ (error.errorType.identifier default ' '), 
    "errorCause":error.cause.message,
    "errorMessage":error.cause.errorMessage.payload,
    "statusCode" :error.cause.errorMessage.attributes.statusCode
}
 ]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Error Payload" doc:id="ca296ca5-44a4-4daa-824c-61901315a999" message="#[payload]"/>
			
</on-error-propagate>
		</error-handler>
	</flow>
	
<flow name="callCaseAPIFlow" doc:id="3c8489f3-9ce4-4fcf-b279-7528d8202b0c">
					<try doc:name="Try" doc:id="8470ad26-8fb0-4141-b2fb-7629431cb0aa" >
			<http:request method="POST" doc:name="SFDC Case Rest API Request Call" doc:id="e3beb30a-7dd1-4856-bbbb-8daff5c1bc6d" config-ref="CASE_HTTPS_Request_configuration" path="${sfdc.case.create.path}">
					<http:body ><![CDATA[#[%dw 2.0
output application/json
---
 vars.DataPayload]]]></http:body>
				<http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : vars.SFDCAccessToken,
	"Content-Type" : "application/json"
}]]]></http:headers>
				
</http:request>
					<error-handler>
						<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="531f614b-2879-484f-aa98-1ec329a3bf21" type="ANY">
							<ee:transform doc:name="Transform Message" doc:id="00af5c7b-a171-4df7-867c-7ebffe8bc51e">
								<ee:message>
									<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "interfaceCode": "UIToSFDCCreateCase",
    "creationDate": (now() as String {format: "dd/MMM/yyyy HH:mm:ss"}),
    "errorDescription": error.description,  
    "errorType": (error.errorType.namespace default ' ') ++ ":" ++ (error.errorType.identifier default ' '), 
    "errorCause":error.cause.message,
    "errorMessage":error.cause.errorMessage.payload,
    "statusCode" :error.cause.errorMessage.attributes.statusCode,
    "payload":  vars.DataPayload
}]]></ee:set-payload>
								</ee:message>
							</ee:transform>
							<logger level="INFO" doc:name="Logger" doc:id="459aeff8-9444-4026-aa91-ee7cb3e6300c" message="#[payload]"/>
					<set-variable value="#[payload.statusCode]" doc:name="Set http status" doc:id="864291d2-a6c1-4e6b-aa36-44b5d8706ff7" variableName="httpStatus" />
					<anypoint-mq:ack doc:name="Ack" doc:id="7f7362fd-bbec-4ced-a42a-4a6a926524d3" config-ref="Anypoint_MQ_Default_subscriber" messageContext="#[vars.mqMessage.attributes]" />
					<flow-ref doc:name="publishCaseToErrorQueueFlow" doc:id="879a91c4-7dc6-4e7f-ba32-173274f047d4" name="publishCaseToErrorQueueFlow" />
						
</on-error-propagate>
					</error-handler>
				</try>
		<logger level="INFO" doc:name="Logger" doc:id="b6f0aab3-0570-4ce5-acbf-d616e99a75f5" message="Successfully Passed through CallCaseApi Process"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="efd63e2b-96b4-4552-a48b-615fbe1b8195" type="ANY">
				<logger level="INFO" doc:name="Logger" doc:id="2fedfcc0-1e7e-4bfa-b8da-fd8e266a722c" message="Exception occurred while POST request | Flow level"/>
				<ee:transform doc:name="Transform Message" doc:id="7f54aba4-c31f-4f21-95c2-7eb30f6747ff" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    "interfaceCode": "UIToSFDCCreateCase",
    "creationDate": (now() as String {format: "dd/MMM/yyyy HH:mm:ss"}),
    "errorDescription": error.description,  
    "errorType": (error.errorType.namespace default ' ') ++ ":" ++ (error.errorType.identifier default ' '), 
    "errorCause":error.cause.message,
    "errorMessage":error.cause.errorMessage.payload,
    "statusCode" :error.cause.errorMessage.attributes.statusCode,
    "payload":  vars.DataPayload
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<flow-ref doc:name="publishCaseToErrorQueueFlow" doc:id="49043c80-7bc5-4591-87f4-abeada42f5fc" name="publishCaseToErrorQueueFlow" />
				<logger level="INFO" doc:name="Logger" doc:id="6153ec4b-b983-4b6e-8152-33b98b9749ee" message="#[payload]"/>
			</on-error-propagate>
		</error-handler>
	

</flow>
</mule>
