gsusa-troop-api-e/Code/gsusa-troop-api-e/src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
<flow name="gsusa-troop-api-e-main">
        <http:listener config-ref="GlobalHttpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="gsusa-troop-api-e-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{	
	"InterfaceCode":"UIToSFDCCreateCase",
    "CreationDate":(now() as String {format: "dd/MMM/yyyy HH:mm:ss"}),
    "ErrorDescription": error.description,  
    "ErrorType": (error.errorType.namespace default ' ') ++ ":" ++ (error.errorType.identifier default ' '), 
    "ErrorCause":error.cause.message,
    "Action":"Please check all parameters and payload information then retry",
    "StatusCode" :error.cause.errorMessage.attributes.statusCode,
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="50464119-6bb1-489b-8713-3e930688623f">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{	
	"InterfaceCode":"UIToSFDCCreateCase",
    "CreationDate":(now() as String {format: "dd/MMM/yyyy HH:mm:ss"}),
    "ErrorDescription": error.description,  
    "ErrorType": (error.errorType.namespace default ' ') ++ ":" ++ (error.errorType.identifier default ' '), 
    "ErrorCause":error.cause.message,
    "Action":"Please check the API url and retry",
    "StatusCode" :error.cause.errorMessage.attributes.statusCode
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{	
	"InterfaceCode":"UIToSFDCCreateCase",
    "CreationDate":(now() as String {format: "dd/MMM/yyyy HH:mm:ss"}),
    "ErrorDescription": error.description,  
    "ErrorType": (error.errorType.namespace default ' ') ++ ":" ++ (error.errorType.identifier default ' '), 
    "ErrorCause":error.cause.message,
    "Action": "Please check the called REST Method and retry",
    "StatusCode" :error.cause.errorMessage.attributes.statusCode
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[405]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="36ef6302-2a93-44f9-b3e5-1c96c43d3808">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{	
	"InterfaceCode":"UIToSFDCCreateCase",
    "CreationDate":(now() as String {format: "dd/MMM/yyyy HH:mm:ss"}),
    "ErrorDescription": error.description,  
    "ErrorType": (error.errorType.namespace default ' ') ++ ":" ++ (error.errorType.identifier default ' '), 
    "ErrorCause":error.cause.message,
    "ErrorMessage":error.cause.errorMessage.payload,
    "StatusCode" :error.cause.errorMessage.attributes.statusCode
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[406]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{	
	"InterfaceCode":"UIToSFDCCreateCase",
    "CreationDate":(now() as String {format: "dd/MMM/yyyy HH:mm:ss"}),
    "ErrorDescription": error.description,  
    "ErrorType": (error.errorType.namespace default ' ') ++ ":" ++ (error.errorType.identifier default ' '), 
    "ErrorCause":error.cause.message,
    "ErrorMessage":"Please check the payload media or content type and retry",
    "StatusCode" :error.cause.errorMessage.attributes.statusCode
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[415]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="5f557375-38d7-4708-bbc1-24605b9e1df2">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{	
	"InterfaceCode":"UIToSFDCCreateCase",
    "CreationDate":(now() as String {format: "dd/MMM/yyyy HH:mm:ss"}),
    "ErrorDescription": error.description,  
    "ErrorType": (error.errorType.namespace default ' ') ++ ":" ++ (error.errorType.identifier default ' '), 
    "ErrorCause":error.cause.message,
    "ErrorMessage":error.cause.errorMessage.payload,
    "StatusCode" :error.cause.errorMessage.attributes.statusCode
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[501]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="2d1c592b-2222-46ef-a174-56b1532c792e" type="ANY">
				<ee:transform doc:name="Transform Message" doc:id="9cc09502-f124-42ab-a9e0-0891efbdcde0" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{	
	"InterfaceCode":"UIToSFDCCreateCase",
    "CreationDate":(now() as String {format: "dd/MMM/yyyy HH:mm:ss"}),
    "ErrorDescription": error.description,  
    "ErrorType": (error.errorType.namespace default ' ') ++ ":" ++ (error.errorType.identifier default ' '), 
    "ErrorCause":error.cause.message,
    "ErrorMessage":error.cause.errorMessage.payload,
    "StatusCode" :error.cause.errorMessage.attributes.statusCode
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="5f0218ce-5438-4e60-9452-8a823d89325b" message="#[payload]"/>
			</on-error-propagate>
        </error-handler>
    </flow>
    <flow name="gsusa-troop-api-e-console">
        <http:listener config-ref="GlobalHttpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="gsusa-troop-api-e-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\sfdc\v1\case\create:application\json:gsusa-troop-api-e-config">
		<try doc:name="Try" doc:id="9099473d-6a17-4763-a26a-7e8ed2749e7d" >
			<http:request method="POST" doc:name="Request" doc:id="81736ba5-ce5c-4881-9f55-cd1db28f68a3" config-ref="HTTP_CASE_Request_configuration" path="${sfdc.case.create.path}">
				<http:headers ><![CDATA[#[output application/java
---
{
	"Content-Type" : attributes.headers."Content-Type",
	"client_id" : attributes.queryParams.client_id,
	"client_secret" : attributes.queryParams.client_secret
}]]]></http:headers>
			</http:request>
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="1d998d49-51ec-4791-945a-abe0cb77c9c7" >
					<logger level="INFO" doc:name="Logger" doc:id="5b5e4bb2-f6a6-4c0f-973a-15ab0a9a348c" message="Error when calling case API | Processoer Level"/>
				</on-error-propagate>
			</error-handler>
		</try>
		<ee:transform doc:name="Transform Message" doc:id="3e1032da-bef2-42e9-b02f-ba379cd926b3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="71187ee6-9bff-4e5e-91b2-da181e4431eb" message="#[payload]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="6bf10eec-ea7a-4b20-a092-3b11efc81711" >
				<ee:transform doc:name="Transform Message" doc:id="f5a06d2d-781f-4aee-baff-2bfdbf637016" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{	
	"InterfaceCode":"UIToSFDCCreateCase",
    "CreationDate":(now() as String {format: "dd/MMM/yyyy HH:mm:ss"}),
    "ErrorDescription": error.description,  
    "ErrorType": (error.errorType.namespace default ' ') ++ ":" ++ (error.errorType.identifier default ' '), 
    "ErrorCause":error.cause.message,
    "ErrorMessage":error.cause.errorMessage.payload,
    "StatusCode" :error.cause.errorMessage.attributes.statusCode
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="62fa8bb4-b413-4cd3-a6a3-6c0ce6a3ab83" message="#[payload]"/>
			</on-error-propagate>
		</error-handler>
    </flow>
</mule>
