gsusa-account-api-e/Code/gsusa-account-api-e/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="callSystemApiFlow" doc:id="7ef60d4b-894b-44b4-9248-2be44bd4fa95" >
		<try doc:name="Try" doc:id="3f23a2bf-8702-4093-993b-21f5583f7e38" >
			<http:request method="GET" doc:name="Request" doc:id="8569edb3-d43a-4e22-9e3f-8861b62b94a1" config-ref="HTTP_Request_configuration" path="${sys.path}">
			<http:headers><![CDATA[#[output application/java
---
{
	"client_id" : attributes.headers."client_id",
	"client_secret" : attributes.headers."client_secret"
}]]]></http:headers>
				<http:query-params ><![CDATA[#[output application/java
---
{
	"id" : vars.var_global_id
}]]]></http:query-params>
		</http:request>
			<error-handler>
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="831f3257-62d4-40fa-8aad-a0130361e6dc" type="HTTP:BAD_REQUEST, HTTP:CLIENT_SECURITY, HTTP:CONNECTIVITY, HTTP:FORBIDDEN, HTTP:INTERNAL_SERVER_ERROR, HTTP:METHOD_NOT_ALLOWED, HTTP:NOT_ACCEPTABLE, HTTP:NOT_FOUND, HTTP:PARSING, HTTP:RETRY_EXHAUSTED, HTTP:SECURITY, HTTP:SERVICE_UNAVAILABLE, HTTP:TIMEOUT, HTTP:TOO_MANY_REQUESTS, HTTP:UNAUTHORIZED, HTTP:UNSUPPORTED_MEDIA_TYPE">
					<ee:transform doc:name="Transform Message" doc:id="c9111b08-c80f-406f-8482-66403b14a179" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	interfacecode: "User Story=1921",
	creationdate: now(),
   "errordescription":   error.cause.message,
   "errortype": error.errorType.identifier,
   "errorcause": error.cause,
   "errormessage": error.cause.errorMessage.payload,
  ('Custom Message'    : 'Please check if the calling URL is functioning. If it is not responding please contact your system administrator') if error.errorType.identifier == "TIMEOUT"
} ]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</on-error-continue>
			</error-handler>
		</try>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="b8c3e2e4-5c60-4c3e-a48f-315db3340d3e" type="ANY">
				<ee:transform doc:name="Transform Message" doc:id="8fec4323-578c-49e9-9205-ad9c1fa031f6" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	interfacecode: "User Story=1921",
	creationdate: now(),
   "errordescription":   error.cause.message,
   "errortype": error.errorType.identifier,
   "errorcause": error.cause,
   "errormessage": error.cause.errorMessage.payload,
  ('Custom Message'    : 'Please check if the calling URL is functioning. If it is not responding please contact your system administrator') if error.errorType.identifier == "TIMEOUT"
} ]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<error-handler name="implementationError_Handler" doc:id="be11d696-f04d-4418-8312-085ec2349a60" >
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="a56db15d-1ffd-4223-99f5-eb241479701f" type="ANY">
			<ee:transform doc:name="Transform Message" doc:id="749edb59-ea9d-48ac-8753-91c34743a524" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	interfacecode: "User Story=1921",
	creationdate: now(),
   "errordescription":   error.cause.message,
   "errortype": error.errorType.identifier,
   "errorcause": error.cause,
   "errormessage": error.cause.errorMessage.payload,
  ('Custom Message'    : 'Please check if the calling URL is functioning. If it is not responding please contact your system administrator') if error.errorType.identifier == "TIMEOUT"
} ]]></ee:set-payload>
				</ee:message>
			</ee:transform>
		</on-error-propagate>
	</error-handler>
</mule>
