VS20-1919/Code/SystemAPI/gsusa-troop-api-s/src/main/mule/CasePublishFlow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd">
	<flow name="publishCasehFlow" doc:id="db944710-5a5d-4bef-b195-1c44fc31aeed" >
		<try doc:name="Try" doc:id="b821a4cb-4857-4624-98a2-5d946b0971a7" >
			<anypoint-mq:publish doc:name="Publish Data to Queue" doc:id="dbb2c680-9e3a-4d9c-bdc4-27a75a319046" config-ref="Anypoint_MQ_Default_subscriber" destination="${anypoint.case.in.queue}" />
			<ee:transform doc:name="Transform Message" doc:id="66deed32-9de5-4850-b1f8-e00f13e7158b">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "Success",
  statusMessage: "Record enqueued"
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<logger level="INFO" doc:name="Logger" doc:id="3ec4a03c-1305-489a-8e90-8338af0ac4d5" message="#[payload]"/>
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="f7d79f9b-284f-47da-8d90-ddabf903e97e" type="ANY">
					<logger level="INFO" doc:name="Logger" doc:id="e857e960-74d9-4ad4-80fd-4f7a6a336a19" message="Error occurred while publishing data to queue | Processor Level"/>
					<ee:transform doc:name="Transform Message" doc:id="aa733530-7db9-49db-969c-90d89605d35d" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"error response":{  
      "interfacecode":"UIToSFDCCreateCase",
      "creationdate":now(),
      "errordescription":error.cause.errorMessage.payload,
      "errortype":error.errorType.identifier,
      "errormessage":error.cause.message
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<logger level="INFO" doc:name="Logger" doc:id="5b8f0a23-289b-4a48-a1fa-62d237512391" message="#[payload]"/>
				</on-error-propagate>
			</error-handler>
		</try>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="b704c8fd-a6df-43e8-bcc7-5595a086190a" type="ANY">
				<logger level="INFO" doc:name="Logger" doc:id="37622c5b-bf83-42ca-960c-c403d603b49a" message="Error occurred while publishing data to queue | Flow Level"/>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="publishCaseToErrorQueueFlow" doc:id="769df62c-8021-49e2-948b-17b001bb4370" >
		<try doc:name="Try" doc:id="efebd6c4-483b-4d3c-aa6c-09b0f28d1965" >
			<anypoint-mq:publish doc:name="Publish Data to Error Queue" doc:id="287e0cdb-8092-4932-8380-2b5da0c6db73" config-ref="Anypoint_MQ_Default_subscriber" destination="${anypoint.case.error.queue}" />
			<error-handler>
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="751f9012-7ef6-4b82-804d-c59cf3db9adc" type="ANY">
					<logger level="INFO" doc:name="Logger" doc:id="88fca1d2-1f26-4164-8cf6-35354fbec492" message="Error while publishing data to Error queue | Processor Level" />
					<ee:transform doc:name="Transform Message" doc:id="2975dd18-f57e-4026-9ac0-087cefb9e61e">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"error response":{  
      "interfacecode":"UIToSFDCCreateCase",
      "creationdate":now(),
      "errordescription":error.cause.errorMessage.payload,
      "errortype":error.errorType.identifier,
      "errormessage":error.cause.message
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<logger level="INFO" doc:name="Logger" doc:id="00a23e4c-619d-47e1-954b-df22522067b1" message="#[payload]" />
				</on-error-propagate>
			</error-handler>
		</try>
		<logger level="INFO" doc:name="Logger" doc:id="0c2767ae-bb4c-4d09-95ad-65d1dbbfb296" message="#['Published data to Error queue' ++ ' ' ++ &quot;${anypoint.mq.error.queue}&quot;]"/>
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="a7e15eef-b1fb-4f7d-a846-38c2215d4f55" type="ANY">
				<logger level="INFO" doc:name="Logger" doc:id="bc90e836-7cfe-4d8f-8939-c3d5a25b2f55" message="Error while publishing data to Error queue | Flow Level" />
			</on-error-continue>
		</error-handler>
	</flow>
</mule>