VS20-1919/Code/SystemAPI/gsusa-troop-api-s/src/main/mule/createCase.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule  xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	
	<flow name="createCaseFlow" doc:id="bd89314e-f48e-44a5-8974-2b2188cca6d5" >
		<ee:transform doc:name="Final Payload Logic" doc:id="bbee8e4d-fc4c-438c-b559-91631b09d2a6">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="DataPayload"><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Payload Log" doc:id="15191e6a-97a1-4b94-a695-151a9fd099fb" message="#[vars.DataPayload]" />
		<os:retrieve doc:name="Retrieve Token" doc:id="6216bcd5-d0bf-413f-927b-b5b8bc7cb79a" key="accessToken" target="SFDCAccessToken" objectStore="Auth_Token_Object_store">
			<os:default-value ><![CDATA[#['DUMMY']]]></os:default-value>
		</os:retrieve>
		<os:retrieve doc:name="Retrieve URL" doc:id="08e0a9ba-7987-451d-87aa-e5ae6b9b4939" key="orderApiUrl" target="SFDCOrderAPIUrl" objectStore="Auth_Token_Object_store">
			<os:default-value ><![CDATA[#['DUMMY']]]></os:default-value>
		</os:retrieve>
				<choice doc:name="Is Token present in Object Store?" doc:id="a6543ea8-f048-4ed6-a2e9-2c63063869e0" >
			<when expression="#[vars.SFDCAccessToken != 'DUMMY']">
				<logger level="INFO" doc:name="Logger" doc:id="6b7d0562-8f61-4324-ba28-2997a7582bd8" message="Token present already in Object Store"/>
			</when>
			<otherwise >
				<flow-ref doc:name="Call Get Token Flow" doc:id="ad4d4d25-6d09-469d-ab6c-3e65c8704650" name="getSFDCauthaccesstokenFlow" />
				<os:store doc:name="Store Token" doc:id="fbfca9a9-dfb4-4c12-ae86-d9fafc89d03f" key="accessToken" objectStore="Auth_Token_Object_store">
					<os:value ><![CDATA[#[vars.SFDCAccessToken]]]></os:value>
				</os:store>
				<os:store doc:name="Store URL" doc:id="72c0d290-b1da-48c6-a848-03d7a4bbbc36" key="orderApiUrl" objectStore="Auth_Token_Object_store">
					<os:value ><![CDATA[#[vars.SFDCOrderAPIUrl]]]></os:value>
				</os:store>
			
</otherwise>
		</choice>
		<flow-ref doc:name="callCaseAPI" doc:id="e3b85ffc-1020-4f67-95fc-be596521c12d" name="callCaseAPI" />
		<choice doc:name="Choice" doc:id="c52b2251-ebf0-4500-8dbc-f76bf11f9507" >
			<when expression="#[payload[0].ErrorMessage != null]">
				<ee:transform doc:name="Final Result" doc:id="a153a180-4a1c-4cea-bb29-f5fa8b608712">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "interfaceCode":"UIToSFDCCreateCase",
    "creationDate":(now() as String {format: "dd/MMM/yyyy HH:mm:ss"}),
    "errorDescription": payload[0],  
    "errorType": (error.errorType.namespace default ' ') ++ ":" ++ (error.errorType.identifier default ' '), 
    "errorCause":error.cause.message,
    "errorMessage":error.cause.errorMessage.payload,
    "statusCode" :error.cause.errorMessage.attributes.statusCode
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<set-variable value="400" doc:name="Set Variable" doc:id="97b4429a-d638-4964-9ee2-c718d43d6210" variableName="httpStatus"/>
				<logger level="INFO" doc:name="Logger" doc:id="6ede0b64-00ad-4b87-ba1a-d894cc082c54" message="Got some error in create case flow."/>
			</when>
			<otherwise >
				<ee:transform doc:name="Final Result" doc:id="3e20270b-475a-4a03-9014-34eeb331779c" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="d1abb0e6-ae98-4851-a690-be998a0f43e4" message="Successfully Passed through case create Process" />
			</otherwise>
		</choice>
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="13d0cb7c-445d-49bc-9807-c1f99b1f8988" type="ANY">
				<ee:transform doc:name="Transform Message" doc:id="d5e271fe-d8bf-49f5-8f3f-86fc57afa065">
					<ee:message>
						<ee:set-payload><![CDATA[ %dw 2.0
output application/json
---
{
    "interfaceCode":"UIToSFDCCreateCase",
    "creationDate":(now() as String {format: "dd/MMM/yyyy HH:mm:ss"}),
    "errorDescription": error.description,  
    "errorType": (error.errorType.namespace default ' ') ++ ":" ++ (error.errorType.identifier default ' '), 
    "errorCause":error.cause.message,
    "errorMessage":error.cause.errorMessage.payload,
    "statusCode" :error.cause.errorMessage.attributes.statusCode
}
 ]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	
<flow name="callCaseAPI" doc:id="3c8489f3-9ce4-4fcf-b279-7528d8202b0c">
					<try doc:name="Try" doc:id="8470ad26-8fb0-4141-b2fb-7629431cb0aa" >
			<http:request method="POST" doc:name="SFDC Case Rest API Request Call" doc:id="e3beb30a-7dd1-4856-bbbb-8daff5c1bc6d" config-ref="SFDC_Case_Create_Request_config" path="${sfdc.case.create.path}">
					<http:body ><![CDATA[#[%dw 2.0
output application/json
---
 vars.DataPayload]]]></http:body>
				<http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : vars.SFDCAccessToken,
	"Content-Type" : "application/json"
}]]]></http:headers>
				
</http:request>
					<error-handler>
						<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="531f614b-2879-484f-aa98-1ec329a3bf21" type="ANY">
							<ee:transform doc:name="Transform Message" doc:id="00af5c7b-a171-4df7-867c-7ebffe8bc51e">
								<ee:message>
									<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "interfaceCode": "UIToSFDCCreateCase",
    "creationDate": (now() as String {format: "dd/MMM/yyyy HH:mm:ss"}),
    "errorDescription": error.description,  
    "errorType": (error.errorType.namespace default ' ') ++ ":" ++ (error.errorType.identifier default ' '), 
    "errorCause":error.cause.message,
    "errorMessage":error.cause.errorMessage.payload,
    "statusCode" :error.cause.errorMessage.attributes.statusCode
}]]></ee:set-payload>
								</ee:message>
							</ee:transform>
							<set-variable value="#[payload.statusCode]" doc:name="Set http status" doc:id="864291d2-a6c1-4e6b-aa36-44b5d8706ff7" variableName="httpStatus" />
						</on-error-propagate>
					</error-handler>
				</try>
		<logger level="INFO" doc:name="Logger" doc:id="b6f0aab3-0570-4ce5-acbf-d616e99a75f5" message="Successfully Passed through CallCaseApi Process"/>
	

</flow>
</mule>
