VS20-1919/Code/SystemAPI/gsusa-troop-api-s/src/main/mule/gsusa-troop-api-interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <apikit:config name="gsusa-troop-api-s-config" raml="gsusa-troop-api-s.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="gsusa-troop-api-s-main">
        <http:listener path="/api/*" config-ref="GlobalHttpsConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="gsusa-troop-api-s-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="c53112f3-7273-473e-8908-8e1cd1fe8200" type="ANY">
				<logger level="INFO" doc:name="Logger" doc:id="1e2aa9ef-d96e-48ea-881f-21844aaa41f6" message="ANY error captured in APIKIT main flow"/>
				<ee:transform doc:name="Transform Message" doc:id="051c3306-00bc-417b-a8b8-dc284c7e2d30" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{	
	"InterfaceCode":"Troop",
	"InstanceID": "Troop",
	"CreationDate": now(),
	"ErrorCode": error.errorType.identifier, 
	"ErrorMessage": error.cause.message, 
	"Payload" : payload
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
        </error-handler>
    </flow>
    <flow name="gsusa-troop-api-s-console">
        <http:listener path="/console/*" config-ref="GlobalHttpsConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="gsusa-troop-api-s-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\sfdc\v1\case\update\(Id):application\json:gsusa-troop-api-s-config">
        <flow-ref doc:name="updateCaseFlow" doc:id="f06ddcbd-cb9e-4cc2-ab91-0167a985158c" name="updateCaseFlow"/>
        		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="20c467e5-9e90-4f45-9183-c7e014a4c4c3" type="ANY">
				<logger level="INFO" doc:name="Logger" doc:id="43322d02-6f5c-4eda-ad8d-41aef7255072" message="Exception occurred in the updateCase | Flow level | Interface"/>
				<set-variable value="400" doc:name="httpStatus" doc:id="a823d208-1521-4afc-ad18-8ec17fbbbc2e" variableName="httpStatus"/>
				<ee:transform doc:name="Transform Message" doc:id="900637cd-d44c-4cc9-b50d-bdda4e63e924" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[404]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
    </flow>
    <flow name="get:\sfdc\v1\case:gsusa-troop-api-s-config">
		<salesforce:query doc:name="Query" doc:id="c36a5df3-a360-4fe3-8eea-dafae777440b" config-ref="Salesforce_Config">
			<salesforce:salesforce-query >SELECT SuppliedEmail,
             Id,
             Origin, 
             Status, 
             Description, 
             Priority, 
             Reason,
             Subject,
             Type
                FROM case</salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="af5cd7d3-fbd0-40ba-924a-ea2002d11c4c">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.Id,
	Origin: payload01.Origin default "",
	Status: payload01.Status default "",
	Description: payload01.Description default "",
	Priority: payload01.Priority default "",
	Reason: payload01.Reason default "",
	Subject: payload01.Subject default "",
	SuppliedEmail: payload01.SuppliedEmail default "",
	Type: payload01.Type default "",
	IsEscalated: payload01.IsEscalated default true
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="8a4e845d-436b-4507-9312-108463395c6e" >
				<set-variable value="404" doc:name="httpStatus" doc:id="423f514d-2743-4505-beaa-dedae98ea9ae" variableName="httpStatus"/>
				<ee:transform doc:name="Transform Message" doc:id="62887a77-9622-48ff-aefb-c3b1ec298c01">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{	
	"InterfaceCode":"Troop",
	"InstanceID": "Case select",
	"CreationDate": now(),
	"ErrorCode": error.errorType.identifier, 
	"ErrorMessage": error.cause.message, 
	"Payload" : payload
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-continue>
		</error-handler>
    </flow>
    <flow name="post:\solr\v1\troops\load:application\json:gsusa-troop-api-s-config">
		<flow-ref doc:name="callPublishFlow" doc:id="b7cfdce6-54a4-4f6b-9075-6f28491e8d0b" name="publishFlow"/>
        		<ee:transform doc:name="Transform Message" doc:id="3b07ab19-bcfe-48de-99f6-71a9f0def1ea" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="1fa8f450-e77d-42a5-b7cb-21827baa6c8b" type="ANY">
				<logger level="INFO" doc:name="Logger" doc:id="8dae6a24-83cb-4ebb-8b39-3932156fb958" message="Exception occurred in the Publish Flow | Flow level | Interface"/>
			</on-error-propagate>
		</error-handler>
    </flow>
	<flow name="post:\sfdc\v1\case\create:application\json:gsusa-troop-api-s-config">
		<flow-ref doc:name="createCaseFlow" doc:id="0c9e2cfb-27a5-47c2-a268-16a24035fb96" name="createCaseFlow"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="7141debd-1723-48b5-9c07-0eb3ce7d4683" >
				<set-variable value="404" doc:name="httpStatus" doc:id="608e6e29-0f26-4108-a165-8bfd85a0b585" variableName="httpStatus" />
				<ee:transform doc:name="Transform Message" doc:id="f95aa353-b8dc-482b-bc11-b6b01f69b7ba" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{	
	"InterfaceCode":"Troop",
	"InstanceID": "Case select",
	"CreationDate": now(),
	"ErrorCode": error.errorType.identifier, 
	"ErrorMessage": error.cause.message, 
	"Payload" : payload
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-continue>
		</error-handler>
    </flow>
    <error-handler name="globalErrorHandler" doc:id="0be92fa6-f512-4e71-a064-8c02c1ab4426" >
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="0acc06bf-04eb-4c87-85df-9be26bea8f17" type="ANY" >
			<logger level="INFO" doc:name="Logger" doc:id="7e5f8253-ca6a-4616-8e40-70b0d845efb7" message="Global Error Handler invoked"/>
		</on-error-propagate>
	</error-handler>
</mule>
