VS20-1919/Code/SystemAPI/gsusa-troop-api-s/src/main/mule/updateCase.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="updateCaseFlow" doc:id="fe1c1b42-22d5-49b1-9d6f-f234273dc6aa" >
	<set-variable value="#[attributes.uriParams.Id]" doc:name="Case Id" doc:id="9e81deb6-4500-4d18-b8fe-a44b75cef1c4" variableName="Id" />
		<ee:transform doc:name="Adding ID to Payload" doc:id="d53c5873-b288-44ce-91fe-1abcd1d3a3bc">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[
{Id:vars.Id} ++ payload

]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<try doc:name="Try" doc:id="86a0aff8-658b-4456-9993-18a708a63c61" >
			<salesforce:update doc:name="Update Case" doc:id="362c3253-c3e2-46cf-bc2a-d84b2c541661" config-ref="Salesforce_Config" type="Case"/>
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="ce00867e-2f66-46ab-883e-fb457dd1b248" type="ANY">
					<ee:transform doc:name="Error Info" doc:id="6caebf14-ca8e-4f68-8bdc-b335dc5d9dc1" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	Namespace: error.errorType.namespace,
    Identifier: error.errorType.identifier, 
   "Mule Message": error.cause.message,
   "Description": error.cause.errorMessage.payload,
  ('Custom Message'    : 'Please check if the calling URL is functioning. If it is not responding please contact your system administrator') if error.errorType.identifier == "TIMEOUT"
} ]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</on-error-propagate>
			</error-handler>
		</try>
		<ee:transform doc:name="Output" doc:id="bce79332-081e-4e1e-9c29-28683102c0c6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="a4065540-6707-4e2d-b147-66b4f0ff3c30" type="ANY">
				<ee:transform doc:name="Transform Message" doc:id="02a5df16-33e3-494f-9e88-489ad15caa01" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	Namespace:error.errorType.namespace,
    Identifier:error.errorType.identifier, 
   "Mule Message": error.cause.message,
   "Description": error.cause.errorMessage.payload,
  ('Custom Message'    : 'Please check if the calling URL is functioning. If it is not responding please contact your system administrator') if error.errorType.identifier == "TIMEOUT"
} ]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
