test-gsusa-netsuite-invoice-api-s/src/main/mule/gsusa-netsuite-invoice-api-s.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <apikit:config name="gsusa-netsuite-invoice-api-s-config" raml="gsusa-netsuite-invoice-api-s.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="gsusa-netsuite-invoice-api-s-main">
        <http:listener config-ref="Global_Listener_Config" path="/api/*" allowedMethods="POST">
            <http:response statusCode="#[vars.httpStatus default 200]">
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="gsusa-netsuite-invoice-api-s-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="e1a734ee-6343-4905-8048-249f228cf0f3" type="ANY">
				<logger level="INFO" doc:name="Logger" doc:id="fac3346e-cebd-44e5-bf9a-ad67ed6af7f3" message="#[%dw 2.0
output application/json
---
{
    &quot;interfaceCode&quot;: &quot;INVOICE&quot;,
    &quot;applicationName&quot;: p('app.mule.name'),
    &quot;environment&quot;: 'DEV',
    &quot;flow&quot;: &quot;gsusa-netsuite-invoice-api-s-main&quot;,
    &quot;tracePoint&quot;: &quot;ANY Exception handler in APIKIT exception flow&quot;,
    &quot;timestamp&quot;: now(),
    &quot;message&quot;: &quot;Error occurred while creating invoices&quot;
}]"/>
				<ee:transform doc:name="Transform Message" doc:id="f210dbf6-8c96-4efc-b02e-3642241989be" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"error response":{  
      "interfacecode":"INVOICE",
      "creationdate":now(),
      "errordescription":error.cause.errorMessage.payload,
      "errortype":error.errorType.identifier,
      "errormessage":error.cause.message
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
        </error-handler>
    </flow>
    <flow name="gsusa-netsuite-invoice-api-s-console">
        <http:listener config-ref="Global_Listener_Config" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="gsusa-netsuite-invoice-api-s-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\netsuite\v1\invoice\create:application\json:gsusa-netsuite-invoice-api-s-config">
        <logger level="INFO" doc:name="Info" doc:id="d5d3e1d6-d3ff-41cf-8850-84ad0d745b78" message="******************************Payload passed to Invoice creation API******************************"/>
		<logger level="INFO" doc:name="payload" doc:id="4611d628-6525-4fe4-8a38-529fd4a67644" message="#[payload]"/>
		<flow-ref doc:name="Flow Reference" doc:id="1316e446-1c80-47a6-b365-eddc57df1a59" name="invoiceCreationFlow"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="5e21f7e0-22ba-4657-b985-0b535ce03ffd" type="ANY">
				<logger level="INFO" doc:name="Logger" doc:id="47c6d05b-128a-458e-a33c-525bf9c855f4" message="#[%dw 2.0
output application/json
---
{
    &quot;interfaceCode&quot;: &quot;INVOICE&quot;,
    &quot;applicationName&quot;: p('app.mule.name'),
    &quot;environment&quot;: 'DEV',
    &quot;flow&quot;: &quot;invoiceCreationNetsuiteFlow&quot;,
    &quot;tracePoint&quot;: &quot;Flow reference in interface&quot;,
    &quot;timestamp&quot;: now(),
    &quot;message&quot;: &quot;Error occurred while creating invoices&quot;
}]"/>
			</on-error-propagate>
		</error-handler>
    </flow>
</mule>
